*{
    margin: 0;
    padding: 0;
}

.container{
background-color: #3a4965;
width: 1192px;
height: 736px;
position: absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
padding-top: 22px;
padding-left: 30px;

}

table {
font-family: Arimo, sans-serif;
text-align:center;
border-collapse: collapse;
width: 1148px;
height: 690px;
}
/*--------------AWERSOME-FONT-ITEMS---------------------------------*/
i{
color:  #848484;
font-size: 24px;
font-weight: 400;
line-height: 28px
}/*--------------AWERSOME-FONT-ITEMS--END---------------------------*/

.pricing-plan th:nth-child(1){
width: 310px;
padding-top: 54px;
height: 102px;
}
.numbers span:nth-child(1){
    font-size: 60px;
    font-weight: 700;
}
.pricing-plan,.numbers td {
font-family: Arimo,sans-serif;
text-transform: uppercase;
background-color:  #fafafa;
color:  #484848;
text-align: center;
}
.numbers span:nth-child(2){
font-size: 24px;
font-weight: 700;
line-height: 28px;
position: relative;
top:-24px;
}
.numbers span:nth-child(3){
font-size: 18px;
font-weight: 400;
line-height: 28px;
position: relative;
right:28px;
}

/*-----------------COLORED---ROW----------------------------------*/
.standart{
color:  #ffffff;
font-size: 24px;
font-weight: 700;
line-height: 28px;
}
.ultimate{
color:  #ffffff;
font-size: 30px;
font-weight: 700;
line-height: 28px;
background-color:#f04a56;
}
.standart span,.ultimate span{
position: relative;
top:-20px;
}
.pricing-plan th:nth-of-type(2){
    background-color:#89c331;
}
.pricing-plan th:nth-of-type(4){
    background-color:#20807c;
}
.standart,.ultimate{
    width: 277px;
}/*-----------------COLORED---ROW---END----------------------------*/
/*----------------PRICING--PLAN------------------------------------*/
.pricing-plan p:nth-of-type(1){
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}
.pricing-plan p:nth-of-type(2){
    font-size: 30px;
    font-weight: 700;
    line-height: 28px;
}/*----------------PRICING--PLAN--END-------------------------------*/

.style-for-all{
    color:  #484848;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    border-right: 2px solid gray;
    text-transform: uppercase;
}
.style-for-all span,i{
position: relative;
top:20px;
}
.style-for-all td:nth-child(1){
    width: 310px;
    height: 69px;
}
.style-for-all:nth-child(odd){
    background-color:  #e3e3e3;
}

.style-for-all:nth-child(even) {
    background-color:  #f2f2f2;
}
/*--------------------BUTTON PROPERTY-----------------------*/
.all-buttons {
    background-color:  #e3e3e3;
    height:138px ;
}
.all-buttons span{
position: relative;
top: 10px;
}
.all-buttons a{
    border-radius: 5px;
    width: 192px;
    height: 49px;
    display: block;
    font-family: Arimo, sans-serif;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    text-decoration:none;
    text-transform: uppercase;
    position: relative;
    top: 45px;
    transform: translateX(42px);
}
.black-btn{
    background-color: #484848;
    box-shadow: 0 -5px rgb(52,52,52) inset;
    position: relative;
    left: 20px;
}
.green-btn{
    background-color:  #89c331;
    box-shadow: 0 -5px rgb(121, 176, 39) inset;
}
.red-btn{
    background-color:  #f04a56;
    box-shadow: 0 -5px rgb(223, 58, 70) inset;
}
.cyan-btn{
    background-color:  #20807c;
    box-shadow: 0 -5px rgb(22, 115, 111) inset;
}


    /*box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);*/


